<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label for="">Select Severity</label>
                        <select [(ngModel)]="newTicketObj.severity" class="form-control">
                            <option value="">Select</option>
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                          
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="">Select Department</label>
                        <select  [(ngModel)]="newTicketObj.deptId"  class="form-control">
                            <option value="">Select</option> <!--Bind the data-->
                            @for(item of deptList; track $index){
                                <option [value]="item.deptId">{{item.deptName}}</option>
                            }
                           
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="">Select Parent Category</label>
                        <select class="form-control" [(ngModel)]="selectPcategory" (change)="onCategoryChange()">
                            <option value="">Select</option>
                            @for(item of parentCategoryList; track $index){
                                <option [value]="item.categoryName">{{item.categoryName}}</option>
                            }
                           
                        </select>
                    </div>

                    <div class="col-3">
                        <label for="">Select Child Category</label>
                        <select  [(ngModel)]="newTicketObj.childCategoryId" class= "form-control">
                            <option value="">Select</option>
                            @for(item of filterCategoryList; track $index){
                                <option [value]="item.childCategoryId">{{item.categoryName}}</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Ticket Details</label>
                        <textarea  [(ngModel)]="newTicketObj.requestDetails"  class="form-control" ></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button class="btn btn-success" (click) = "OnCreateTicket()">Create Ticket</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
